![sql](../../static/sql-logo.jpg)

# A guide to databases, SQL, & using them with `pandas`

Let's start with Peter Bell's great blog piece [on relational databases](https://flatironschool.com/blog/an-introduction-to-the-relational-database).

Themes:
- Structured vs. Unstructured Data
- Records (Rows) in Tables in Databases
- Eliminating Redundancy

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Group Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](../../static/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](../../static/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

### What is a Relational Database? 

![rdb](../../static/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](../../static/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

This sort of picture is sometimes called an **E**ntity **R**elationship **D**iagram. [Here](https://www.smartdraw.com/entity-relationship-diagram/) is another good resource for explaining typical ERD conventions.

### Table columns view
![table example](../../static/columns.png)

### Terminology

- Schema
    - [An excellent explainer](https://www.youtube.com/watch?v=3BZz8R7mqu0) on db schemas
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](../../static/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## Goal 3: Get going with sqlite!

In [1]:
import sqlite3
import os
cd_dot_dot = os.pardir
data_path = os.path.join(cd_dot_dot, cd_dot_dot, 'data')

#### Load a DB object with `connect` and `cursor`

In [16]:
!ls

Chinook_Sqlite.sqlite            flights.db
LICENSE                          img
README.md                        sql-to-pandas-edited-by-gd.ipynb

In [2]:
con = sqlite3.connect(os.path.join(data_path,'flights.db'))
cursor = con.cursor()
cursor2 = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [3]:
cursor.execute(
"""
SELECT name
FROM sqlite_master
WHERE type='table';
"""
)

In [4]:
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

For more on "sqlite_master", see [here](https://www.techonthenet.com/sqlite/sys_tables/index.php).

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [20]:
cursor.execute(
"""
SELECT *
FROM airports
"""
)

#### Use description

In [21]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

The septuple structure has to do with Python API [compatibility issues](https://kite.com/python/docs/sqlite3.Cursor.description).

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`. The latter takes a number of records to return as a parameter.

In [7]:
cursor.fetchmany(10)

[(0,
  '1',
  'Goroka',
  'Goroka',
  'Papua New Guinea',
  'GKA',
  'AYGA',
  '-6.081689',
  '145.391881',
  '5282',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (1,
  '2',
  'Madang',
  'Madang',
  'Papua New Guinea',
  'MAG',
  'AYMD',
  '-5.207083',
  '145.7887',
  '20',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (2,
  '3',
  'Mount Hagen',
  'Mount Hagen',
  'Papua New Guinea',
  'HGU',
  'AYMH',
  '-5.826789',
  '144.295861',
  '5388',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (3,
  '4',
  'Nadzab',
  'Nadzab',
  'Papua New Guinea',
  'LAE',
  'AYNZ',
  '-6.569828',
  '146.726242',
  '239',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (4,
  '5',
  'Port Moresby Jacksons Intl',
  'Port Moresby',
  'Papua New Guinea',
  'POM',
  'AYPY',
  '-9.443383',
  '147.22005',
  '146',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (5,
  '6',
  'Wewak Intl',
  'Wewak',
  'Papua New Guinea',
  'WWK',
  'AYWK',
  '-3.583828',
  '143.669186',
  '19',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (6,
  '7',
  'Narsarsuaq',
  'Narssarssuaq',
  'Greenland',
  'UAK',
  'BGBW',
  '61.160517',
  '-45.425978',
  '112',
  '-3',
  'E',
  'America/Godthab'),
 (7,
  '8',
  'Nuuk',
  'Godthaab',
  'Greenland',
  'GOH',
  'BGGH',
  '64.190922',
  '-51.678064',
  '283',
  '-3',
  'E',
  'America/Godthab'),
 (8,
  '9',
  'Sondre Stromfjord',
  'Sondrestrom',
  'Greenland',
  'SFJ',
  'BGSF',
  '67.016969',
  '-50.689325',
  '165',
  '-3',
  'E',
  'America/Godthab'),
 (9,
  '10',
  'Thule Air Base',
  'Thule',
  'Greenland',
  'THU',
  'BGTL',
  '76.531203',
  '-68.703161',
  '251',
  '-4',
  'E',
  'America/Thule')]

**Task:** Get the descriptive data for airlines and routes tables

In [22]:
cursor.execute(
    """
    SELECT *
    FROM airlines
    """
).description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('alias', None, None, None, None, None, None),
 ('iata', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('callsign', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('active', None, None, None, None, None, None))

In [23]:
cursor.execute(
    """SELECT *
    FROM routes
    """
).description

(('index', None, None, None, None, None, None),
 ('airline', None, None, None, None, None, None),
 ('airline_id', None, None, None, None, None, None),
 ('source', None, None, None, None, None, None),
 ('source_id', None, None, None, None, None, None),
 ('dest', None, None, None, None, None, None),
 ('dest_id', None, None, None, None, None, None),
 ('codeshare', None, None, None, None, None, None),
 ('stops', None, None, None, None, None, None),
 ('equipment', None, None, None, None, None, None))

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**SELECT**

**FROM**

**WHERE**

**GROUP BY**

**ORDER BY**

**LIMIT**

#### Options for each:

**Select**:  `DISTINCT`, using `AS` to rename columns, single number aggregates, `COUNT()` to count, `*` for "all"

**From:** also uses aliasing with `AS`

**Where**: `=`, `BETWEEN`, `IN`, wildcards with `%`, `AND`, `OR`, `NOT` pattern matching with `LIKE` and `ILIKE`

**Order by**: `ASC` and `DESC`

**Limit**:  #

***

**Exercises**:
- Select only active airlines in the United Kingdom from the airlines table <br/>
Hint: The values for 'active' are 'Y' and 'N'.
- Select the unique list of countries with airports

In [ ]:
# Your code here

In [ ]:
# Your code here

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](../../static/venn.png)

**Exercise**: Write a query that will join the latitude and longitude data from the airports table to the information on the routes table. <br/>
Hint: Which column can serve as the link between the two tables? That is, which column in `airports` can serve as foreign key to `routes`?

In [ ]:
# Your code here

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest numbers of active airlines?
- Which countries have the highest numbers of inactive airlines?

In [ ]:
cursor.execute(
"""
SELECT COUNT() num, country
FROM airlines
WHERE active='Y'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30
"""
).fetchall()

In [ ]:
cursor.execute(
"""
SELECT COUNT() num, country
FROM airlines
WHERE active='N'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30
"""
).fetchall()

**Exercise**: Run a query that will return the number of airports by time zone. Each row should have a number of airports and a time zone.

In [ ]:
# Your code here

### `CASE WHEN`

`CASE WHEN` is SQL's version of `if ... then ... else`. It must *always* be closed with an `END`.

In [ ]:
cursor.execute(
"""
SELECT name, city,
CASE WHEN latitude > 0 THEN 'northern hemisphere'
ELSE 'southern hemisphere'
END AS hemisphere
FROM airports
"""
).fetchall()

### Subqueries

For more complex queries it can be helpful to break them down into multiple parts. Subqueries are a natural way to do this.

Suppose I wanted to know, after collecting together the highest airport in each country, which one's name comes alphabetically first.

I might break this down by first collecting the highest airports and then _wrapping_ that query in a higher query that selects the name and country I want _from_ the result of that first query:

In [ ]:
cursor.execute(
"""
SELECT MIN(name), country FROM
(SELECT name, code, country, MAX(CAST(altitude AS INT))
FROM airports
GROUP BY country)
"""
).fetchall()

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/\
views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

In [ ]:
shelter_data[shelter_data['Name'] == "Max"].head()

In [ ]:
# With .query()

max_data = shelter_data.query('Name == "Max"')
max_data.head()

## Goal 6: Transfering from sqlite to pandas

`.read_sql()`

In [6]:
import pandas as pd
db_path = os.path.join(data_path,'flights.db')
conn = sqlite3.connect(db_path)
df = pd.read_sql("SELECT * FROM airports LIMIT 50", conn)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
5,5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10,U,Pacific/Port_Moresby
6,6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3,E,America/Godthab
7,7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3,E,America/Godthab
8,8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3,E,America/Godthab
9,9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4,E,America/Thule
10,10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0,N,Atlantic/Reykjavik
11,11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0,N,Atlantic/Reykjavik
12,12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0,N,Atlantic/Reykjavik
13,13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0,N,Atlantic/Reykjavik
14,14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0,N,Atlantic/Reykjavik
15,15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985,-22.605556,171,0,N,Atlantic/Reykjavik
16,16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965,11,0,N,Atlantic/Reykjavik
17,17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.13,-21.940556,48,0,N,Atlantic/Reykjavik
18,18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0,N,Atlantic/Reykjavik
19,19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0,N,Atlantic/Reykjavik
20,20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5,A,America/Toronto
21,21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.0325,760,-6,A,America/Winnipeg
22,22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4,A,America/Halifax
23,23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.7725,80,-8,A,America/Vancouver
25,25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7,A,America/Edmonton
26,26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.1325,-68.204444,71,-5,A,America/Toronto
27,27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5,A,America/Toronto
28,28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6,A,America/Winnipeg
29,29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8,A,America/Vancouver
30,30,31,Brandon Muni,Brandon,Canada,YBR,CYBR,49.91,-99.951944,1343,-6,A,America/Winnipeg
31,31,32,Cambridge Bay,Cambridge Bay,Canada,YCB,CYCB,69.108055,-105.138333,90,-7,A,America/Edmonton
32,32,33,Nanaimo,Nanaimo,Canada,YCD,CYCD,49.052333,-123.870167,93,-8,A,America/Vancouver
33,33,34,Castlegar,Castlegar,Canada,YCG,CYCG,49.296389,-117.6325,1624,-8,A,America/Vancouver
34,34,35,Miramichi,Chatham,Canada,YCH,CYCH,47.007778,-65.449167,108,-4,A,America/Halifax
35,35,36,Charlo,Charlo,Canada,YCL,CYCL,47.990833,-66.330278,132,-4,A,America/Halifax
36,36,37,Kugluktuk,Coppermine,Canada,YCO,CYCO,67.816667,-115.143889,74,-7,A,America/Edmonton
37,37,38,Coronation,Coronation,Canada,YCT,CYCT,52.075001,-111.445278,2595,-7,A,America/Edmonton
38,38,39,Chilliwack,Chilliwack,Canada,YCW,CYCW,49.152779,-121.93889,32,-8,A,America/Vancouver
39,39,40,Clyde River,Clyde River,Canada,YCY,CYCY,70.486111,-68.516667,87,-5,A,America/Toronto
40,40,41,Fairmont Hot Springs,Coral Harbour,Canada,YZS,CYCZ,64.193333,-83.359444,2661,-5,A,America/Coral_Harbour
41,41,42,Dawson City,Dawson,Canada,YDA,CYDA,64.043056,-139.127778,1215,-8,A,America/Vancouver
42,42,43,Burwash,Burwash,Canada,YDB,CYDB,61.371111,-139.040556,2647,-8,A,America/Vancouver
43,43,44,Princeton,Princeton,Canada,YDC,CYDC,49.468056,-120.511389,2298,-8,A,America/Vancouver
44,44,45,Deer Lake,Deer Lake,Canada,YDF,CYDF,49.210833,-57.391388,72,-3.5,A,America/St_Johns
45,45,46,Dease Lake,Dease Lake,Canada,YDL,CYDL,58.422222,-130.032222,2600,-8,A,America/Vancouver
46,46,47,Dauphin Barker,Dauphin,Canada,YDN,CYDN,51.100834,-100.0525,999,-6,A,America/Winnipeg
47,47,48,Dawson Creek,Dawson Creek,Canada,YDQ,CYDQ,55.742333,-120.183,2148,-7,A,America/Dawson_Creek
48,48,49,Edmonton Intl,Edmonton,Canada,YEG,CYEG,53.309723,-113.579722,2373,-7,A,America/Edmonton
49,49,50,Arviat,Eskimo Point,Canada,YEK,CYEK,61.094166,-94.070833,32,-6,A,America/Winnipeg

**Exercise for later**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [11]:
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from pandasql) (1.17.2)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (from pandasql) (1.0.3)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.7/site-packages (from pandasql) (1.3.9)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->pandasql) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->pandasql) (2.8.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp37-none-any.whl size=26820 sha256=dd532625e202ee0bc3e6a2f17a65db6b99646b2b0fbfba6dd236af6c796e9dd4
  Stored in directory: /Users/joelcollins/Library/Caches/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

`pandasql` is a library that allows SQL-style querying of `pandas` DataFrames.

In [12]:
import pandasql

In [15]:
pandasql.sqldf("SELECT name, code FROM df LIMIT 10", globals())

                         name code
0                      Goroka  GKA
1                      Madang  MAG
2                 Mount Hagen  HGU
3                      Nadzab  LAE
4  Port Moresby Jacksons Intl  POM
5                  Wewak Intl  WWK
6                  Narsarsuaq  UAK
7                        Nuuk  GOH
8           Sondre Stromfjord  SFJ
9              Thule Air Base  THU

## On Your Own

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [7]:
# Getting Started
db_path = os.path.join(data_path, 'Chinook_Sqlite.sqlite')
con = sqlite3.connect(db_path)

In [ ]:
cursor2 = con.cursor()

In [ ]:
cursor2.execute(
"""
SELECT tbl_name
FROM sqlite_master
WHERE type='table'
"""
)

In [ ]:
cursor2.fetchall()